.note-container {
    border: 2px solid pink;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 2px 5px 5px;
    width: 250px;
    height: 300px;
    overflow-y: auto;
    /*Adds an vertical scrollbar*/
    background-color: #fff;
}

.text-container{
    border: 2px solid pink;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 2px 5px 5px;
    width: 225px;
    height: 225px;
    overflow-y: auto;
    background-color: #fff;
}

.editing_container{
    border: 2px solid pink;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 2px 5px 5px;
    width: 225px;
    height: 25px;
    background-color: #fff;
}